<ion-header>
  <ion-toolbar  color="primary">
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-icon name="happy-outline" class="icono"></ion-icon>
    <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input></ion-input>
      </ion-item>

<ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input></ion-input>
  </ion-item>

    <ion-item>
        <ion-label position="floating">Contraceña</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">confirmar</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <br><br>
<a href="/page1"><ion-button expand="block" color="success">Registrar</ion-button></a>
</ion-content>
